# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/gtsrb-german-traffic-sign/

.idea/*
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676648400.Ultron.44821.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676648561.Ultron.46912.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676648596.Ultron.47245.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676648701.Ultron.47685.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676649086.Ultron.48299.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676649151.Ultron.48299.2.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676649231.Ultron.48299.4.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676650464.Ultron.53722.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676650746.Ultron.55687.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676651058.Ultron.2532.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676651105.Ultron.2532.2.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676653336.Ultron.7263.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676654591.Ultron.9815.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676655991.Ultron.15423.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676656041.Ultron.16234.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676656163.Ultron.17057.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676656915.Ultron.20420.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676657387.Ultron.22549.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676657633.Ultron.25351.0.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676649098.Ultron.48299.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676649164.Ultron.48299.3.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676649243.Ultron.48299.5.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676650477.Ultron.53722.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676650758.Ultron.55687.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676651063.Ultron.2532.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676653340.Ultron.7263.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676654595.Ultron.9815.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676656045.Ultron.16234.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676656167.Ultron.17057.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676656920.Ultron.20420.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676657392.Ultron.22549.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676657637.Ultron.25351.1.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676660569.Ultron.38169.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676660678.Ultron.2881.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676660711.Ultron.3687.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676663760.Ultron.13427.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676663910.Ultron.16784.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676664177.Ultron.20896.0.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676660716.Ultron.3687.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676663764.Ultron.13427.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676663914.Ultron.16784.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676664181.Ultron.20896.1.v2
libdevice.10.bc
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676747249.Ultron.143374.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676747310.Ultron.145279.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676747459.Ultron.146131.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676747543.Ultron.146131.2.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676747789.Ultron.150026.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676748160.Ultron.2284.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676748328.Ultron.9245.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676748524.Ultron.10465.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676748774.Ultron.11547.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676748935.Ultron.13447.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676749290.Ultron.17351.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676749323.Ultron.17741.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676749553.Ultron.20578.0.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676749821.Ultron.23383.0.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676747255.Ultron.143374.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676747315.Ultron.145279.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676747464.Ultron.146131.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676747545.Ultron.146131.3.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676747799.Ultron.150026.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676748166.Ultron.2284.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676748333.Ultron.9245.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676748529.Ultron.10465.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676748783.Ultron.11547.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676748944.Ultron.13447.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676749333.Ultron.17741.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676749563.Ultron.20578.1.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676749831.Ultron.23383.1.v2
ge_traffic_sign_recog/run_001/train/events.out.tfevents.1676751913.Ultron.40948.0.v2
ge_traffic_sign_recog/run_001/validation/events.out.tfevents.1676751920.Ultron.40948.1.v2
